<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boss.jieyin.wechatbot.mapper.UserMemberMapper">
    <update id="batchUpdateByUserId" parameterType="java.util.List">
        UPDATE user_member
        <trim prefix="SET" suffixOverrides=",">
            member_id = CASE user_id
            <foreach collection="list" item="item">
                WHEN #{item.userId} THEN #{item.memberId}
            </foreach>
            END,

            available_times = CASE user_id
            <foreach collection="list" item="item">
                WHEN #{item.userId} THEN #{item.availableTimes}
            </foreach>
            END,

            expire_time = CASE user_id
            <foreach collection="list" item="item">
                WHEN #{item.userId} THEN #{item.expireTime}
            </foreach>
            END,

            updated_at = NOW()
        </trim>
        WHERE user_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>
        AND is_deleted = 0
    </update>


</mapper>
